/*fuentes*/
@font-face{
    font-family: "trebuchetMS";
    src: url("../fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "WebSymbolsRegular";
    src: url("../fonts/websymbols-regular-webfont.eot");
    src: url("../fonts/websymbols-regular-webfont.eot?iefix") format('embedded-opentype'),
         url("../fonts/websymbols-regular-webfont.woff") format('woff'),
         url("../fonts/websymbols-regular-webfont.ttf") format('truetype'),
         url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg');
         font-weight: normal;
         font-style: normal;    
}

/* general */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../img/pattern.png);
}
.wrap{
    width: 75rem;
    margin: 0px auto;
}

.gear, .icon{
    font-family: WebSymbolsRegular;
}


/*CABECERA*/
#header{
    width: 100%;
     height: 4.375rem;
     background-color: black;
}

#logo {
    float: left;
    width: 14.5rem;
    background-color: #37bcf9;
    text-align: center;
    color:white;
    margin-top: .5rem;
    margin-left: 1.25rem;
    letter-spacing: .0625rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
}

#logo:hover{
    border-radius: 10px;
    color: black;
    background-color: #ccc;
}


#logo .gear{
    display: block;
    float: left;
    font-size: 1.875rem;
    margin-top: .5rem;
    margin-left: 26px;
    
    animation-name: rotate-gear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#logo:hover .gear{
   animation: fromBellow 500ms linear;
}

@keyframes fromBellow {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes rotate-gear {
    from{
        transform: rotatez(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}


#logo h3{
    display: block;
    float: right;
    margin-top: .3125rem;
    margin-right: 3.0625rem;
    font-size: 2.5rem;
    transition: all 300ms;
}

 #logo:hover h3{
    animation: fromright 300ms linear;
} 

 @keyframes fromright {
    from{
        transform: translateX(200%);
    }
    to{
        transform: translateX(0%);
    }
}


#menu{
    float:right;
    height: 4.375rem;
    background: transparent;
}
#menu ul li{
    font-size: 1.5rem;
    display: inline-block;
    margin: 0rem 1.25rem 0rem 1.25rem;
    letter-spacing: .0625rem;
    line-height:  4.6875rem;
}
#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
}

#menu ul li a:hover{
    color: #37bcf9;;
     transform: scale(1.2, 1.2); 
}

/*BANNER*/
#banner{
    width: 100%;
    height: 6.25rem;
    border: .625rem solid white;
    box-shadow: 0rem 0rem .125rem gray;
    background: url(../img/bakbaner.png);
    background-position: -12.5rem -12.5rem;  
    overflow: hidden;
    animation: backBanner 10s linear;

}
 @keyframes backBanner {
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -200px -200px;
    }
} 

#banner h1{
    display: block;
    width: 850px;
    font-size: 45px;
    color:white;
    font-family: "BebasNeue";
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px black;
    margin: 27px auto;
     animation: showText 10s linear; 

}

 @keyframes showText {
    0%{
        transform: translateX(-600px) scale(5,5);
        opacity: 1;
    }
    50%{
        transform: translateX(600px) scale(5,5);
        opacity: 1;
    }
    75%{
        transform: translateX(-600px) scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0px) scale(1,1);
        color: white;
        text-shadow: 2px 2px 1px black;
        opacity: 1;
    }
} 

/*TARJETAS*/
.card{
    float: left;
    width: 12.8125rem;
    height: 19.0625rem;
    border: 1px solid #ccc;
    box-shadow: .0625rem .0625rem .125rem #ddd;
   overflow: hidden ;
   margin: 16px;
   margin-top: 2.5rem;
   background: white;
   margin-top: 40px;
   cursor: pointer;
}

.card .icon{
    display: block;
    width: 100%;
    height: 110px;
    font-size: 50px;
    line-height: 130px;
    text-align: center;
    margin:0px auto;

}

.card .category{
    width: 100%;
    height: 50px;
    font-family: "trebuchetMS";
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #00538C;
}
.card .description{
    font-family: "trebuchetMS"; 
    text-align: center;
    color: #00538C;
}